<div class="container">
    <div *ngIf="error" class="error">Product not found.</div>
    <div *ngIf="product && !error" class="product-details">
      <mat-card>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-content>
          <p>Price: Rs {{ product.price }}</p>
          <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goBack()">Back to Products</button>
          <button mat-button (click)="addToCart()">Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>